[report]
exclude_lines =
    pragma: no cover
    raise AssertionError
    raise NotImplementedError
    if __name__ == .__main__.:
omit =
    versioneer.py
    rubicon_ml/_version.py
    rubicon_ml/ui/views/project_explorer.py 
    rubicon_ml/ui/callbacks/project_selection.py 
