__pycache__
docs/build
docs/source/**/*.ipynb
docs/source/**/data
.coverage
.coverage.*
.cache/**
.DS_Store
*.py[cod]
*.egg-info/**
**/dask-worker-space/
**/rubicon-root/
**/.ipynb_checkpoints/
**/.vscode/**
