__pycache__
docs/build
docs/source/**/*.ipynb
docs/source/**/*.png
docs/source/**/data
notebooks/quick-look/*.yml
.coverage
.coverage.*
.cache/**
.DS_Store
*.py[cod]
*.egg-info/**
**/dask-worker-space/
**/rubicon-root/
**/.ipynb_checkpoints/
**/.vscode/**
**/.idea/**
**/.edgetest/**
build/**
dist/**

!docs/source/_static/images/**/*.png
