repos:
    -   repo: https://github.com/psf/black
        rev: 20.8b1
        hooks:
        - id: black
          language_version: python3.7
    
    -   repo: https://github.com/timothycrosley/isort
        rev: 5.7.0
        hooks:
        - id: isort
          args: ["-rc"]
    
    - repo: https://gitlab.com/pycqa/flake8
      rev: 3.7.7
      hooks:
          - id: flake8
