name: rubicon-ml-dev
channels:
  - conda-forge
dependencies:
  - python>=3.8
  - pip

  - click<=8.1.2,>=7.1
  - dask[dataframe]<=2022.4.0,>=2.12.0
  - fsspec<=2022.3.0,>=2021.4.0
  - intake[dataframe]<=0.6.5,>=0.5.2
  - pandas<=1.4.2,>=1.0.0
  - pyarrow<=7.0.0,>=0.18.0
  - PyYAML<=6.0,>=5.4.0
  - s3fs<=2022.3.0,>=0.4

  # for prefect workflows
  - prefect<=1.2.0,>=0.12.0

  # for viz
  - dash<=2.3.1,>=2.0.0
  - dash-bootstrap-components<=1.1.0,>=1.0.0

  # for scikit-learn integration
  - scikit-learn

  # for testing
  - black
  - flake8
  - ipykernel
  - isort
  - nbconvert
  - pytest
  - pytest-cov
  
  # for versioning
  - versioneer

  # for packaging
  - setuptools
  - wheel

  # for edgetest
  - edgetest
  - edgetest-conda
