name: rubicon-ml-dev
channels:
  - conda-forge
dependencies:
  - python>=3.8
  - pip

  - click<=8.1.3,>=7.1
  - dask[dataframe]<=2022.9.0,>=2.12.0
  - fsspec<=2022.8.2,>=2021.4.0
  - intake[dataframe]<=0.6.6,>=0.5.2
  - pandas<=1.4.4,>=1.0.0
  - pyarrow<=9.0.0,>=0.18.0
  - PyYAML<=6.0,>=5.4.0
  - s3fs<=2022.8.2,>=0.4
  - scikit-learn<=1.1.2,>=0.22.0

  # for prefect workflows
  - prefect<=1.2.4,>=0.12.0

  # for viz
  - dash<=2.6.1,>=2.0.0
  - dash-bootstrap-components<=1.2.1,>=1.0.0
  - numpy<=1.23.2,>=1.22.0

  # for testing
  - black
  - flake8
  - ipykernel
  - isort
  - nbconvert
  - pytest
  - pytest-cov
  - python-kaleido
  - shap
  - numba>=0.55.0
  - matplotlib
  
  # for versioning
  - versioneer

  # for packaging
  - setuptools
  - wheel

  # for edgetest
  - edgetest
  - edgetest-conda
