name: rubicon-ml-dev
channels:
  - conda-forge
dependencies:
  - python>=3.8
  - pip

  - click<=8.1.3,>=7.1
  - fsspec<=2022.11.0,>=2021.4.0
  - intake[dataframe]<=0.6.6,>=0.5.2
  - numpy<=1.23.5,>=1.22.0
  - pandas<=1.5.2,>=1.0.0
  - pyarrow<=10.0.1,>=0.18.0
  - PyYAML<=6.0,>=5.4.0
  - s3fs<=2022.11.0,>=0.4
  - scikit-learn<=1.1.3,>=0.22.0
  - jsonpath_ng<=2.7.0,>=2.6.0
  # for prefect workflows
  - prefect<=1.2.4,>=0.12.0

  # for viz
  - dash<=2.7.0,>=2.0.0
  - dash-bootstrap-components<=1.2.1,>=1.0.0

  # for testing
  - black
  - dask
  - flake8
  - ipykernel
  - isort
  - jupyterlab
  - nbconvert
  - pytest
  - pytest-cov
  
  # for versioning
  - versioneer

  # for packaging
  - setuptools
  - wheel

  # for edgetest
  - edgetest
  - edgetest-conda
