name: rubicon-ml-dev
channels:
  - conda-forge
dependencies:
  - python>=3.8
  - pip

  - click<=8.1.7,>=7.1
  - fsspec<=2023.9.2,>=2021.4.0
  - intake[dataframe]<=0.7.0,>=0.5.2
  - jsonpath-ng<=1.6.0,>=1.5.3
  - numpy<=1.26.0,>=1.22.0
  - pandas<=2.1.1,>=1.0.0
  - pyarrow<=13.0.0,>=0.18.0
  - PyYAML<=6.0.1,>=5.4.0
  - scikit-learn<=1.3.1,>=0.22.0

  # for prefect extras
  - prefect<=1.2.4,>=0.12.0

  # for s3fs extras
  - s3fs<=2023.9.2,>=0.4

  # for viz extras
  - dash<=2.13.0,>=2.0.0
  - dash-bootstrap-components<=1.5.0,>=1.0.0

  # for testing
  - black
  - dask
  - flake8
  - ipykernel
  - isort
  - jupyterlab
  - nbconvert
  - pytest
  - pytest-cov
  - xgboost
  
  # for versioning
  - versioneer

  # for packaging
  - setuptools
  - wheel

  # for edgetest
  - edgetest
  - edgetest-conda
