name: rubicon-ml-dev
channels:
  - conda-forge
dependencies:
  - python>=3.8
  - pip

  - click<=8.1.7,>=7.1
  - fsspec<=2024.6.0,>=2021.4.0
  - intake<=2.0.5,>=0.5.2
  - jsonpath-ng<=1.6.1,>=1.5.3
  - numpy<=1.26.4,>=1.22.0
  - pandas<=2.2.2,>=1.0.0
  - pyarrow<=16.1.0,>=14.0.1
  - PyYAML<=6.0.1,>=5.4.0
  - scikit-learn<=1.5.0,>=0.22.0

  # for prefect extras
  - prefect<=1.2.4,>=0.12.0

  # for s3fs extras
  - s3fs<=2024.6.0,>=0.4

  # for viz extras
  - dash<=2.17.1,>=2.11.0
  - dash-bootstrap-components<=1.6.0,>=1.0.0

  # for testing
  - black
  - dask[dataframe]
  - flake8
  - h2o-py
  - ipykernel
  - isort
  - jupyterlab
  - lightgbm
  - nbconvert
  - pytest
  - pytest-cov
  - xgboost
  
  # for versioning
  - versioneer

  # for packaging
  - setuptools
  - wheel

  # for edgetest
  - edgetest
  - edgetest-conda
