/*
    the ipython3 code blocks coming from the notebooks
    were not getting the dark theme styles applied, so
    manually overriding them
*/
@media (prefers-color-scheme: dark) {
    .highlight-ipython3 {
        border: none !important;
        border-radius: 2px !important;
        background: #202020 !important;
        color: #d0d0d0 !important;
    }
}

.hidden {
    display: none;
}

.version {
    text-align: right;
    font-size: 20px;
    margin-top: -14px;
}

/* unknown warning was showing, manually hiding */
#Default-Plotting-Support .admonition.warning {
    display: none;
}