# Runs edgetest to manage dependency upgrades
#
# Public actions used:
#   - https://github.com/actions/checkout
#   - https://github.com/edgetest-dev/run-edgetest-action

name: Run edgetest
on:
  schedule:
    - cron: '0 10 * * 1-5'
  workflow_dispatch:

jobs:
  edgetest:
    runs-on: ubuntu-latest
    name: running edgetest
    permissions:
      contents: write
      pull-requests: write
    steps:
    - name: Checkout code
      uses: actions/checkout@v4
    - id: run-edgetest
      uses: edgetest-dev/run-edgetest-action@v1.6
      with:
        edgetest-flags: '-c setup.cfg --export'
        base-branch: 'main'
        skip-pr: 'false'
