# This workflow publishes the package to pypi.
# For more details:
# https://docs.github.com/en/actions/guides/building-and-testing-python#publishing-to-package-registries
name: Publish

on:
  release:
    types: [created]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
      with:
        # fetch all tags so `versioneer` can properly determine current version
        fetch-depth: 0
    - name: Set up Python
      uses: conda-incubator/setup-miniconda@v2
      with:
        python-version: "3.8"
        mamba-version: "*"
        channels: conda-forge
        channel-priority: true
        activate-environment: true
        auto-activate-base: true
    - name: Install build dependencies
      run: |
        mamba install setuptools wheel twine
    - name: Build and publish
      env:
        TWINE_USERNAME: ${{ secrets.PYPI_USERNAME }}
        TWINE_PASSWORD: ${{ secrets.PYPI_PASSWORD }}
        TWINE_REPOSITORY: pypi
      run: |
        python setup.py sdist bdist_wheel
        twine upload dist/*
