# This workflow installs the package dependencies, lints the package, and
# executes the package tests.
# For more details: https://docs.github.com/en/actions/guides/building-and-testing-python
name: Run tests

on:
  pull_request:
    branches: [ main ]

jobs:
  build:

    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: [3.6, 3.7, 3.8]

    steps:
    - uses: actions/checkout@v2
      with:
        # fetch all tags so `versioneer` can properly determine current version
        fetch-depth: 0
    - name: Set up Python ${{ matrix.python-version }}
      uses: conda-incubator/setup-miniconda@v2
      with:
        python-version: ${{ matrix.python-version }}
        mamba-version: "*"
        channels: conda-forge, defaults
        channel-priority: true  
        activate-environment: rubicon-dev
        environment-file: ci/environment.yml
    - name: Check formatting with black
      run: |
        black --check .
    - name: Check imports with isort
      run: |
        isort -c .
    - name: Lint with flake8
      run: |
        flake8 .
    - name: Validate build
      run: |
        python setup.py sdist bdist_wheel
        pip install dist/rubicon_ml-*.whl
    - name: Test with pytest
      run: |
        pytest
